torch
torchvision
accelerate
numpy
pillow
scipy
einops
transformers
diffusers
datasets
huggingface_hub
wandb
tensorboard
tqdm
ftfy
regex
clip @ git+https://github.com/openai/CLIP.git
image-reward
openai
packaging
bitsandbytes
xformers
